#sus{
    font-size: 130px;
    color: red;
    font-family: joffery;
    position: absolute;
    left: 35%;
    top: 20%;
}
#sus2{
    font-size: 90px;
    color: black;
    font-family: joffery;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 40%;
}