body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
    background-color:#f4f4f4;
}

/* Global */
.container{
    width:80%;
    margin: auto;
    overflow: hidden;
}

.container2{
    overflow: hidden;
    position: relative;
    text-align: center;
    font-size: 40px;
}

ul{
    margin: 0;
    padding: 0;
}

/* Header  */
header{
    background-color: rgb(0,188,212);
    padding-top: 30px;
    min-height: 70px;
    border-bottom: rgb(0,168,107) 6px solid;
}

header a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: black;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #name{
    float: left;
}

header #name h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a{
    color: rgb(168, 39, 0)
}

header a:hover{
    color:#cccccc;
}

/* Showcase */

#showcase{
    min-height: 400px;
    
}

/* Boxes */
#boxes{
    margin-top: 20px;
}

#boxes .box{
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
}

#boxes .box img{
    width: 200px;
    height: 200px
}

footer{
    padding: 10px;
    margin-top: 20px;
    color:#ffffff;
    background-color: #ff5721;
    text-align: center;
}
 
/* Makes links look like normal text */
.blacklink{
    text-decoration: none;
    color: black;
}

#forms .form1 iframe{
    float: left;
    padding: 0;
}

/* Hides/Shows the menu for games */
#hideMenu {
    border: none;
    position: absolute;
    left: 0%;
    top: 0px;
    background-color: #ff5721;
    width: 100%;
    color: rgb(168, 39, 0);
}

#hideMenu:hover{
    color: #ccccccde;
}

#gamesdirads{
    position:absolute;
    top: 296px;
    height: 350px;
}

.gamesdirimg{
    height: 300px;
    border: 2px solid black;
    max-width: 60%;
}

.gameslist{
    float: left;
}