/*this is the css block for all the factories ssh don't tell anyone I can't spell*/
factorys {
  position: absolute;
  top: 90px;
  left: 10px;
}

/*this is the big bitcoin button in the middle of the screen*/
bitcoin {
  position: absolute;
  top: 155px;
  left: 550px;
}

/*this is that balance display above the bitcoin*/
balance {
  font-size: 50px;
  position: absolute;
  top: 70px;
  left: 550px;
}

.importexport{  
  position: relative;
  top: 30px;
  left: 1000px;
}

/*this positons the upgrade store */
upgradestore{
  position: absolute;
  top: 25px;
  left: 750px;
}

/*this is the save button */
.save{
  position: absolute;
  top: 160px;
  left: 1000px;
}
.autoSaveToggle{
  position: absolute;
  top: 160px;
  left: 1050px;
}

/*this is the display that tells you how many bitcoins you get persecond*/
persecond{
  position: absolute;
  top: 130px;
  left: 550px;
}

links{
  position: absolute;
  top: 620px;
  left: 250px;
}

/* Header */
/* IF GOING TO USE FOR OTHER GAMES MAKE SURE TO ADJUST THE "msbody" TAG. (msbody stands for "minesweeper body" not to be confused with minebody witch is used for the actual game) */
.container{
  width:80%;
  margin: auto;
  overflow: hidden;
}

msbody{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding:0;
  margin:0;
  background-color:#333;
}

gamesheader{
  background-color: #ff5721;
  padding-top: 30px;
  min-height: 70px;
}

gamesheader a{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: black;
}

gamesheader li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

gamesheader #name{
  float: left;
}

gamesheader #name h1{
  margin: 0;
}

gamesheader nav{
  float: right;
  margin-top: 0px;
}

gamesheader .highlight, gamesheader .current a{
  color: rgb(1, 134, 86)
}