/*this is the css block for all the factories ssh don't tell anyone I can't spell*/
factorys {
  position: absolute;
  top: 90px;
  left: 10px;
}

/*this is the big bitcoin button in the middle of the screen*/
bitcoin {
  position: absolute;
  top: 155px;
  left: 550px;
}

/*this is that balance display above the bitcoin*/
balance {
  font-size: 50px;
  position: absolute;
  top: 70px;
  left: 550px;
}

.importexport{  
  position: relative;
  top: 30px;
  left: 1000px;
}

/*this positons the upgrade store */
upgradestore{
  position: absolute;
  top: 25px;
  left: 750px;
}

/*this is the save button */
.save{
  position: absolute;
  top: 160px;
  left: 1000px;
}
.autoSaveToggle{
  position: absolute;
  top: 160px;
  left: 1050px;
}

/*this is the display that tells you how many bitcoins you get persecond*/
persecond{
  position: absolute;
  top: 130px;
  left: 550px;
}

links{
  position: absolute;
  top: 620px;
  left: 250px;
}

footer2{
  bottom:0px;
  position: absolute;
  margin-top: 10px;
  color:#ffffff;
  background-color: rgb(0,188,212);
  text-align: center;
}

